/********** STUDENT.CSS ***********
 * Created by: matheo dieryck
 * Created at: 26/01/2024
 * Updated at: 27/01/2024
**********************************/

/***** Oefening 01 *****/
#popup{
    border: solid;
    border-color: darkgreen;
    background-color: lime;
    border-radius: 10px;
}
/***** Oefening 02 *****/
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  #oef2-code>.grid-item {
    position: relative;
    width: 100%;
    background-color: antiquewhite;
    margin-bottom: 20px;
  }
  
  